
.M-Events{
    background:#222;
}

.M-Events .heading span{
    color:#fff;
}

.M-Events .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.M-Events .box-container .box{
    flex:1 1 30rem;
    height:40rem;
    overflow: hidden;
    position: relative;
    margin:2rem;
    box-shadow: 0 .3rem .5rem #000;
}

.M-Events .box-container .box img{
    height:100%;
    width:100%;
    /* object-fit: cover; */
}

.M-Events .box-container .box .info{
    padding:2rem;
    width:100%;
    position: absolute;
    bottom:-100%; left:0;
    background:black;
}

.M-Events .box-container .box:hover .info{
    bottom:0;
}

.M-Events .box-container .box .info h3{
    font-size: 3rem;
    color:#fff;
    padding-bottom: .5rem;
}

.M-Events .box-container .box .info span{
    font-size: 2rem;
    color:var(--yellow);
}

.M-Events .box-container .box .info p{
    font-size: 2rem;
    color:#ccc;
    padding:.5rem 0;
}